includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 9
    paths:
        - src
        - tests
        - bin/console

    excludePaths:
        - */migrations
        - */vendor

    reportUnmatchedIgnoredErrors: true

    ignoreErrors:
        # WebTestCase and KernelTestCase methods are dynamically inherited
        -
            message: '#Call to an undefined static method (App\\Tests\\.*)?::assert.*#'
            path: tests/**
        -
            message: '#Call to an undefined method Symfony\\Bundle\\FrameworkBundle\\KernelBrowser::(request|getResponse)#'
            path: tests/Controller/**
        -
            message: '#Cannot access offset .* on mixed#'
            path: tests/Controller/**